* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(1, 8, 59, 0.767),
      rgba(20, 3, 56, 0.933)
    ),
    url(assets/Bitmap.png);
  background-position: center;
  background-size: cover;
}

nav {
  width: 85%;
  margin: auto;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  cursor: pointer;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  color: white;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

nav ul li::after {
  content: "";
  position: absolute;
  background: #c271ff;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

nav ul li:hover:after {
  width: 100%;
}

.banner-section {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.banner-section > .content h1 {
  font-size: 100px;
  margin-top: 110px;
}

.banner-section > .content span {
  display: inline-block;
  margin: 10px;
  padding: 20px;
}

.banner-section p {
  color: #fff;
}

button {
  background-color: #c271ff;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.banner-section > .pros {
  margin-top: 130px;
}
.banner-section > .pros > h2 {
  font-weight: lighter;
  color: #ffffff;
}

.banner-section > .pros > h2::before {
  content: "Learn";
  font-weight: bold;
  color: #c271ff;
}

.banner-section > .pros > .speakers {
  display: flex;
  padding: 50px;
  justify-content: space-evenly;
}

.banner-section > .pros > .speakers > .speaker img {
  margin: 20px;
  width: 110px;
}

main > .quote-section {
  width: 100%;
  background-color: #c271ff;
  height: 50vh;
}

main > .quote-section {
  width: 100%;
  color: white;
  background-color: #c271ff;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main > .quote-section > div {
  padding: 20px;
}
main > .quote-section > .quote-block {
  width: 30%;
}
main > .quote-section > .quote-block h4 {
  font-weight: lighter;
}
main > .video-section {
  width: 100%;
  height: 50vh;
  text-align: center;
}

main > .video-section > h2 {
  margin-top: 80px;
  margin-bottom: 80px;
  color: #c271ff;
  font-weight: lighter;
}
main > .video-section > .videos-block {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.video {
  width: 200px;
  text-align: left;
}

.video > img {
  width: 200px;
  padding-bottom: 10px;
}

.author {
  margin-top: 20px;
}
.author img,
h4 {
  display: inline-block;
  margin: 0;
  padding: 0 5px;
}
.author div {
  margin-top: 5px;
  display: flex;
  justify-content: left;
}
.author p {
  text-align: right;
}

.membership {
  width: 100%;
  height: 50vh;
  background-color: #071629;
  color: #fff;
  text-align: center;
}

.membership p {
  color: #fff;
}
.membership > h2 {
  margin-bottom: 80px;
  margin-top: 50px;
  font-weight: lighter;
  color: #c271ff;
}
.membership > h2::before {
  content: "Free";
  font-weight: bold;
}

.membership > .membership-block {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.membership .member {
  padding: 10px;
  width: 200px;
}
.membership p,
h3 {
  padding-top: 8px;
}

.FAQ {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FAQ h2 {
  margin-top: 50px;
  font-weight: lighter;
  font-size: 50px;
}

.FAQ-block {
  display: flex;
  margin-top: 20px;
}
.item-block {
  width: 300px;
  padding: 20px 150px;
  text-align: left;
}

p {
  margin-top: 20px;
  color: #777777;
}

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
  background-color: #071629;
}

footer i {
  filter: brightness(0) invert(1);
  cursor: pointer;
}
.footer-img {
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
}
footer p {
  text-align: center;
  background-color: #071629;
}
